# Rust
agent/target/
**/*.rs.bk

# Optional: usually DO keep Cargo.lock for apps
# Cargo.lock

# Go
bin/
vendor/

# Protobuf generated (you ARE committing gen so comment this out)
# proto/gen/

# OS / misc
.DS_Store
.env
*.log
__pycache__/